{% extends 'MainTemplates.html' %}

{% block login %}

    <form action="/auth/login/"method="post">
        {% csrf_token %}

            <label for="username"Имя пользователя</label>
            <h3> Username </h3>
            <input type="text" name="username" id="username">
            <h3> Password </h3>
            <label for="password"Пароль</label>
            <input type="password" name="password" id="password">
                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}
            <input class="button" type="submit" value="Войти">
    </form>

{% endblock %}